body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background:  linear-gradient(90deg,#6a6868,rgb(0, 0, 0));
  }
  .contenedor {
    width: 100%;
    padding: 5px;
  }
  
  .formulario {
    background-color: white;
    margin: 150px;
    padding: 20px;
  }
  h1 {
    text-align: center;
    color: #1a2537;
    font-size-adjust: 40px;
  }
  
  input[type="text"],
  input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
  }
  .input-contenedor {
    margin-bottom: 16px;
    margin-left:16px;
    border: 1px solid #aaa;
    border-radius: 20px;
  }

  #camptex{

    background-color: red;
  }


  .titulo{
    font-size: 18px;
    text-align: center;
  }

  .icon {
    min-width: 50px;
    text-align: center;
    color: #999;
  }
  .button {
    border: none;
    width: 100%;
    color: white;
    font-size: 16px;
    background: #d31024;
    padding: 16px 32px;
    border-radius: 10px;
    
    
    

  }
  .button:hover {
    background: cadetblue;
    
  }
  p {
    text-align: center;
  }
  link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
  }
  .link:hover {
    color: cadetblue;
  }
  @media (min-width: 768px) {
    .formulario {
      margin: auto;
      width: 500px;
      margin-top: 150px;
      border-radius: 2%;
    }
  }
  a {text-decoration:none}
  
 