.Deportes{
    color:rgb(0, 0, 247);
}

.Economía{
    color:rgb(0, 249, 241);
}
.Política{
    color:rgb(228, 249, 0);
}
.ufps{
    color:rgb(238, 7, 7);
}
.Tecnología{
    color:rgb(7, 238, 42);
}

